header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: aquamarine;
  align-items: center;
  padding: 0px 25px;
}

logo {
  display: block;
  /* width: 20%; */
  /* flex-grow: 2; */
  /* order: 2; */
}

nav {
  /* width: 30%; */
  /* flex-grow: 3; */
  /* order: 1; */
}
.menu-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 50px;
}

article {
  display: flex;
  background-color: crimson;
  flex-wrap: wrap;
  height: 50vh;
  align-content: space-between;
  color: #fff;
}
section {
  width: 200px;
}
aside {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
